services:
  ros_dev:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspaces/deepracer_project:cached
      - ~/.gitconfig:/home/daes/.gitconfig:ro
    environment:
      - ROS_DOMAIN_ID=42
    privileged: true
    command: sleep infinity
    user: daes
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0 # Husarnet uses IPv6 internally